{% extends 'base01.html' %}

{% block title %}Lista de Atuadores{% endblock %}

{% block content %}
  <h2>Lista de Atuadores</h2>
  {% if actuators %}
    <ul>
    {% for key, state in actuators.items() %}
      <li>
        {{ key }}:
        {% if state == 1 %}
          <strong>Ligado</strong>
        {% elif state == 0 %}
          <strong>Desligado</strong>
        {% else %}
          <strong>{{ state }}</strong>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>Nenhum atuador disponível.</p>
  {% endif %}
{% endblock %}
